
a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: auto;
}
.header{
    background-color: #109fB2;
    padding: 50px 10px;
    display: flex;
    justify-content: space-between;
}
.header a{
    color: white;
}

.cart button{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 18px;
    transition: 0.2s;
}
.cart button:hover{
    background-color: black;
}

.cart span{
    color: white;
    font-size: 1rem;
    position: relative;
    top: -0.16rem;
    background-color: red;
    border-radius: 50%;
    padding: 5px 9px;
}

.logo img{
    width: 15%;
}

/* Header End */